<html class="new en-gb">
   
 <head>
   <link rel="stylesheet" type="text/css" href="//s.aolcdn.com/os/ukmedia/fonts/aol-core/ver2/icons.min.css?ver=20171129" />
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
 
   <title>AOL.co.uk | Breaking News, Sport, Features and Video</title>
 
   <link rel="canonical" href="https://www.aol.co.uk/">
   
   <link href="https://o.aolcdn.com/aoldotcom-releases/test/application.css" rel="stylesheet" />
   <link rel="stylesheet" href="https://s.aolcdn.com/aoldotcom-releases/assets/20180724_1046/stylesheets/homepage-grid.css" />
   <link href="https://o.aolcdn.com/aoldotcom-releases/test/application.css" rel="stylesheet" />
  </head>
 
 <body class="homepage" id="body" style="background-color:#ffffff">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Browser Info</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="browserInfo.length > 0">
          <table class="table table-sm table-striped table-hover table-responsive">
            <tr *ngFor="let op of browserInfo">
              <th>{{ op.name }}</th>
              <td>{{ op.value }}</td>
            </tr>
          </table>
        </ng-container>
      </div>
    </ng-template>
    <div class="l-wrapper" id="container">
    
      <div class="l-main-container">
        <div class="l-main-rightrail-wrap">
          <div class="l-main l-main--rightrail">
  
            <!-- SLIDESHOW -->
            <section class="slideshow" style="margin-bottom: 10px;">
              <div class="slideshow-body">
                  <app-slide-show></app-slide-show>
              </div>
            </section>
  
            <div class="homepage-river">
              <div class="homepage-river-right">
                <section class="daily-buzz">
                  <div class="list-post list-post-x1">
                    <article class="list-post-item two-col">
                      <div class="list-post-item-wrapper">
                        <div class="list-post-image">
                      <img src="https://o.aolcdn.com/images/dims?  thumbnail=650%2C427&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F385b818e7b8b75835735919cb6b0de2c%2F206550230%2Fmacca.jpg&amp;client=cbc79c14efcebee57402&amp;signature=c5dc96899c91f1323e1ef75f12bd13a51e2d87a8">
                  
                        </div>
                        <div class="list-post-description">
                          <h3 class="list-post-title">
                            <a href="https://www.aol.co.uk/video/view/paul-mccartney-returns-to-abbey-road-crossing/5b574046c2ec10728c256a24/">
                    Paul McCartney returns to iconic Abbey Road crossing
                  </a>
                          </h3>
                        </div>
                      </div>
                    </article>
                    <article class="list-post-item two-col">
                      <div class="list-post-item-wrapper">
                        <div class="list-post-image">
                          <a href="https://www.huffingtonpost.co.uk/">
                <img src="https://o.aolcdn.com/images/dims?thumbnail=650%2C427&amp;image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F74f923070f989c520b79a0e997ec0b64%2F206550214%2Fhancock.jpg&amp;client=cbc79c14efcebee57402&amp;signature=d6416cd5721b6591f6335e25edf39a1ad371be0f" class="list-post-img">
              </a>
                        </div>
                        <div class="list-post-description">
                          <h3 class="list-post-title">
                            <a href="https://www.huffingtonpost.co.uk/entry/matt-hancock-stockpiling-brexit_uk_5b57510ae4b0fd5c73c9525f">
                Brexit: Government may begin stockpiling medicine
              </a>
                          </h3>
                        </div>
                      </div>
                    </article>
                  </div>
                </section>
              </div>
            </div>
          </div>
  
          <div class="l-rightrail">
            <div class="l-rightrail-modules">
              <div class="l-rightrail-modules__section-curtain "></div>
              <div class="l-rightrail-modules__section">
                <div class="m-make-homepage">
                  <a class="m-side-nav__link" (click)="displayBrowserInfo(content)"><span>Display browser information</span></a>
                </div>
              </div>
              <div class="l-rightrail-modules__section">
  
                <section class="module rhr-module">
  
                  <h4 class="list-post-header-title">Read More</h4>
                  <div class="list-post list-post-x1 side-title">

                    <article class='list-post-item'>
                      <div class='list-post-image'><a href='https://www.aol.co.uk/2018/07/24/guardiola-rules-out-manchester-city-move-for-pjanic/' title='Guardiola rules out Manchester City move for Pjanic'><img src="https://o.aolcdn.com/images/dims?thumbnail=144%2C95%2Cauto&amp;quality=80&amp;image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D640%252C427%26image_uri%3Dhttp%253A%252F%252Fimages.performgroup.com%252Fdi%252Flibrary%252Fomnisport%252F9d%252F91%252Fmiralem-pjanic-cropped_7utl33yuo2eg1sjgozzavl0l6.jpg%253Ft%253D-851775956%26client%3Ds8fyf47wsyd98sdh%26signature%3D054a1cdc70a302aee4a71ba64b9dab582282d964&amp;client=cbc79c14efcebee57402&amp;signature=315492da09041a9fecaf43af29d2fd833fa6d82c"></a></div>
                      <div
                        class='list-post-description'>
                        <h3 class='list-post-title'><a rel='bookmark' class='list-post-link' href='https://www.aol.co.uk/2018/07/24/guardiola-rules-out-manchester-city-move-for-pjanic/'> Guardiola rules out Manchester City move for Pjanic</a></h3>
                  </div>
                  </article>
  
                  <article class='list-post-item'>
                    <div class='list-post-image'><a rel='bookmark' class='list-post-link' href='https://www.aol.co.uk/2018/07/24/thiem-moves-past-moutet-as-monfils-halts-cecchinatos-momentum/' title='Thiem moves past Moutet as Monfils halts Cecchinato&#039;s momentum'><img src="https://o.aolcdn.com/images/dims?thumbnail=144%2C95%2Cauto&amp;quality=80&amp;image_uri=https%3A%2F%2Fo.aolcdn.com%2Fimages%2Fdims%3Fresize%3D640%252C427%26image_uri%3Dhttp%253A%252F%252Fimages.performgroup.com%252Fdi%252Flibrary%252Fomnisport%252Fcd%252F5d%252Fdominicthiem-cropped_10dlsbv8q9o2108gx8mnl9py5.jpg%253Ft%253D-854974892%26client%3Ds8fyf47wsyd98sdh%26signature%3D6a619543ad1378a6a62e96523b2cf1164afb2660&amp;client=cbc79c14efcebee57402&amp;signature=b09d4cb46eddc50cd3a654667ef72254d0f6fd12"></a></div>
                    <div class='list-post-description'>
                      <h3 class='list-post-title'><a rel='bookmark' class='list-post-link' href='https://www.aol.co.uk/2018/07/24/thiem-moves-past-moutet-as-monfils-halts-cecchinatos-momentum/'> Thiem moves past Moutet as Monfils halts Cecchinato's momentum</a></h3>
              </div>
              </article>
            </div>
            </section>
  
            <section class="newsletter-signup-form">
              <h3 class="m-title aside-entries__title">Let us send you our Newsletter</h3>
              <div class="m-text">
                <p class="m-text-desc text-side-indent">Our editors will email you a roundup of their favourite stories from across AOL</p>
              </div>
              <div id="aol-newsletter" class="aol-newsletter ">
                <form [formGroup]="newsLetterForm">
                  <p style="display:none">Sign up using your AOL email or <br/><a id="different-address" class="different-address">use different address</a></p>
                  <div *ngIf="submitted && f.email.errors" class="text-danger">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email || !this.newsLetterForm.valid">Email must be a valid email address</div>
                  </div>
                  
                  <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Enter your email address" class="email-input signup-email" />
                    <input type="button" value="Sign Up" class="aol-btn secondary-btn button send-sail-throu-signup" id="send-sail-throu-signup" (click)="signup()" />
                </form>
              </div>
              
            <style>
              .newsletter-signup-form { border: 1px solid #E0E0E0; padding: 10px 10px 0px; }
            </style>
            </section>
          </div>
      </div>
    </div>
    </div>
    </div>
  
    <div class="l-footer-container">
      <footer>
        <div class="l-footer m-footer">
          <div class="m-footer__search-wrapper">
            <span>
          <a class="m-footer__search-wrapper_logo" href="https://www.aol.co.uk">
            <svg class="m-svg-aol-logo" viewBox="0 428.9 612 242.2" enable-background="new 0 428.9 612 242.2" xml:space="preserve">
            <g>
              <path class="m-svg-aol-logo__path" fill="#000100" d="M333.1,481.9c64.4,0,95.4,51,95.4,94.6c0,43.6-31,94.6-95.4,94.6s-95.4-51-95.4-94.6
              C237.9,532.9,268.8,481.9,333.1,481.9z M333.1,621.3c23,0,42.5-18.9,42.5-44.8c0-26-19.5-44.8-42.5-44.8s-42.3,18.9-42.3,44.8
              C290.8,602.3,310.3,621.3,333.1,621.3z"/>
              <g>
                <path class="m-svg-aol-logo__path" fill="#000100" d="M458.4,428.9h53.7V666h-53.7V428.9z"/>
              </g>
              <g>
                <g>
                  <path class="m-svg-aol-logo__path" fill="#000100" d="M576.3,596.3c-19.7,0-35.6,15.9-35.6,35.7c0,19.7,15.9,35.6,35.6,35.6c19.7,0,35.7-15.9,35.7-35.6
                  C611.8,612.2,595.9,596.3,576.3,596.3z"/>
                </g>
              </g>
              <path class="m-svg-aol-logo__path" fill="#000100" d="M141.2,428.9H93.5L0,666h63.3l12.4-34.3H158l11.5,34.3h63.9L141.2,428.9z M92.4,583.6l24.9-82.6l24.9,82.6
              H92.4z"/>
            </g>
          </svg>
        </a>
      </span>
          </div>
          <div class="m-footer__links" >
            <div class="m-footer__links__row1 uk_footer">
              <a id="footer-link" href="http://corp.aol.co.uk/">ABOUT AOL</a>
              <a id="footer-link" href="https://help.aol.co.uk/contact/">CONTACT</a>
              <a id="footer-link" href="http://privacy.aol.co.uk/">PRIVACY POLICY</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
   </div>
 </body>
 
 
 </html>