/* You can add global styles to this file, and also import other style files */
.carousel-inner .sr-only, .carousel-control-prev .sr-only, .carousel-control-next .sr-only  { display: none; }
.carousel-inner img { width: 100%; }
.carousel-caption h3 { font-weight: bold; font-size: 2rem; }